<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <header>
            <div className="holder">
            <img src ="/images/logo - Descorche.jpg" width="100" alt="Descorche de Cervantes" />
            <h1>El Descorche de Cervantes</h1>


            </div>
        </header>
    {{{body}}}
    <footer>
            <p>Derechos reservados. Descorche de Cervantes 2022</p>
        </footer>
  </body>
</html>